@font-face {
  font-family: Raleway; /* Имя шрифта */
  src: url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype'); /* Формат */
  font-weight: 400; /* Толщина шрифта */
  font-style: normal; /* Стиль шрифта */
}
@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url('./fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype'); /* Формат */
  font-weight: 400; /* Толщина шрифта */
  font-style: normal; /* Стиль шрифта */
}
@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url('./fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype'); /* Формат */
  font-weight: 200; /* Толщина шрифта */
  font-style: normal; /* Стиль шрифта */
}
@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url('./fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype'); /* Формат */
  font-weight: 300; /* Толщина шрифта */
  font-style: normal; /* Стиль шрифта */
}

