@mixin indents ($px: 8, $py: 4, $mx: 4, $my: 4) {
  padding: $py + px $px + px;
  margin: $my + px $mx + px;
}
@mixin font ($size: 1em, $weight: normal, $letter_space_em: normal) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $letter_space_em + em;
}
@mixin flex_row ($gap: 4, $justify: start, $wrap: wrap) {
  display: flex;
  flex-direction: row;
  gap: $gap + px;
  flex-wrap: wrap;
  justify-content: $justify;
}
@mixin flex_column ($gap: 4, $justify: center, $align: center) {
  display: flex;
  flex-direction: column;
  gap: $gap + px;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
}
@mixin border ($width: 2, $radius: 0, $color: #646cff) {
  border: $width + px solid $color;
  border-radius: $radius + px;
}
@mixin button ($px: 8, $py: 4, $bg_color: #646cff, $color: white) {
  background: $bg_color;
  color: $color;
  padding: $py + px $px + px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}