$main-color: #bfabff;
$text-color: #3b3b3b;
$secondary-color: #7c6ab5;
$hover-color: #9577f5;
$focus-color: #5631c6;
$border-color: #9b7df5;
$accent-color: #fcc100;
$background-color: #f3f2f0;
$header-background-color: rgba(243, 242, 240, 0.3);;
$block-color: #fff;
$header-height: 64px;
$catalog_top-menu-height: 250px;